@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

html {
    background: #212124;
}

body {
    width: 90%;
    margin: auto;
    font-family: 'Zilla Slab', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.main-home {
    background: url("images/terminator-large.jpg") no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100%;
    width: 90%;
    position: absolute;
    color: #FFFFFF;
}

.main-explore {
    background-color: #8B8B8C;
    height: 100%;
    position: absolute;
    color: #151517;
}

.main-explore form {
    border: 3px solid #151517;
    padding: 50px;
}

.main-explore h1 {
    padding-top: 50px;
    margin-left: 50px;
}

/*
.main-explore img {
    padding-bottom: 150px;
}
*/

header {
    background: #151517;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    margin-right: 100px;
}

header ul li:last-of-type {
    background: white;
    color: #151517;
    padding: 15px;
    border-radius: 5px;
}

footer {
    color: orange;
}

.main-div {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    font-size: 2em;
}

.main-div a {
    background: white;
    color: #151517;
    padding: 15px;
    border-radius: 5px;
}

.flex-main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}